/* 
------------
Reset 
------------
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
------------
Header 
------------
*/
.top-bar {
  color: white;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: right;
  gap: 10px;
  align-items: center;
  padding-right: 10px;
}

.top-button {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
}

/* 
------------
Main
------------
*/
main {
  height: calc(100vh - 130px);
  background-color: black;
  overflow-y: scroll;
  padding: 10px 0 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}

.box {
  position: relative;
}

.box img {
  display: block;
}

.info {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 10px;
  padding: 5px;
}

/* 
------------
Footer
------------
*/

/* footer-common */
.elemento {
  text-align: center;
  padding: 20px 20px 12px 5px;
  position: relative;
}

.elemento .icona {
  font-size: 30px;
}

.elemento p {
  font-size: 12px;
  margin-top: 5px;
}

.elemento .freccia {
  position: absolute;
  font-size: 12px;
  bottom: 25px;
  right: 0;
}

.evidenz {
  color: #4bc800;
}
/* End common */

.bottom-bar {
  color: white;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

/* Parte sx */
.bottom-left {
  width: 20%;
  display: flex;
  gap: 20px;
  padding-left: 10px;
  justify-content: left;
}

/* Parte centrale */
.bottom-center {
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Parte dx */
.bottom-right {
  width: 20%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 10px 0 10px;
  justify-content: right;
}

.bottone-end {
  background-color: rgb(201, 2, 2);
  padding: 10px;
  border-radius: 10px;
}

/* Hover */

.elemento:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}

.bottone-end:hover {
  background-color: red;
  cursor: pointer;
}

.top-button:hover {
  background-color: #6b6b6b;
  cursor: pointer;
}
