/* 
------------
Reset 
------------
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
------------
Common
------------
 */

/* 
------------
Header 
------------
*/
.top-bar {
  color: white;
  background-color: black;
  display: flex;
  justify-content: right;
  gap: 10px;
  padding: 10px 10px 30px 10px;
}

.top-button {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
}

/* 
------------
Main
------------
*/
main {
  height: calc(100vh - 135px);
  background-color: black;
  overflow-y: scroll;
}

.container {
  border: 1px dashed purple;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.box {
  border: 1px solid red;
  position: relative;
}

.box img {
  display: block;
}

.info {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 10px;
  padding: 5px;
}

/* 
------------
Footer
------------
*/

.bottom-bar {
  color: white;
  background-color: #222222;
  z-index: 999;
  display: flex;
  /* justify-content: space-between; */
}

.bottom-left {
  display: flex;
  gap: 20px;
}

.elemento {
  text-align: center;
  padding: 10px 20px 10px 5px;
  position: relative;
}

.elemento .icona {
  font-size: 30px;
}

.elemento p {
  font-size: 12px;
  margin-top: 5px;
}

.elemento .freccia {
  position: absolute;
  font-size: 12px;
  bottom: 25px;
  right: 0;
}
